extends layouts/main-layout.pug

block variables
  -
    const title = "ДПС контроль"
    const desc = "Оперативная помощь на дороге"
    const keywords = "Сервисы и помощь на дороге"

block content
  
  include ./blocks/index/intro
  include ./blocks/index/assistance
  include ./blocks/index/situations
  include ./blocks/index/food
  include ./blocks/index/accident
  include ./blocks/index/application
  include ./blocks/index/service
  include ./blocks/index/control
  include ./blocks/index/company

block modals
  include ./modals/menu
  include ./modals/foodModal
  include ./modals/washModal
  include ./modals/addCompanyModal