.cmn {
    &__wrapper {
        @include container();
    }

    &__title {
        font-family: $font_sec;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;

        &--white {
            color: $color-white;
        }
    }

    &__text {
        font-size: 1.7rem;
        line-height: 2rem;

        &--white {
            color: $color-white;
        }

        &--bold {
            font-weight: 600;
        }
    }

    &__phoneBtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: $color-blue;
    }

    &__serviceBtn {
        border: none;
        background-color: transparent;
        font-size: 17px;
        line-height: 20px;
        width: 15rem;
        
        padding: 1rem 0.5rem;
        border: 1px solid #B7BED1;
        border-radius: 8px;
        margin-left: auto;
        color: $color-black;

        span {
            margin-right: 1rem;
        }

        @media(max-width: 340px) {
            width: 13rem;
        }
    }

    &__logo {
        width: 7.6rem;
        height: 3.3rem;
    }
}