//fonts

$font_prim: 'Gilroy-Regular';
$font_sec: 'Gilroy-Medium';

// work

$outline: 1px solid red;

// animation

$transition_rules: 0.3s ease;

// widths

$lg-mobile-width: 534px;
$mobile-width: 320px;

$min-width: $mobile-width;

// colors

$color-white: #ffffff;
$color-black: #000000;
$color-lightgrey: #F7F9FE;
$color-lightblack: #363C4A;
$color-blue: #2152C4;
$color-violet: #2532AF;
$color-yellow: #ECFE7C;
$color-brd-lightgrey: #EDF1F8;

// links


//btns


// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
