section.company.cmn
  .cmn__wrapper.company__wrapper

    h2.cmn__title.cmn__title--white.company__title Добавить компанию
    p.cmn__text.cmn__text--white.company__desc Напишите в Telegram, чтобы добавить компанию в подборку сервисов и услуг ДПС-Контроль
    
    a(href="#").company__link Написать