section.control.cmn
  .cmn__wrapper.control__wrapper
    h2.cmn__title.control__title ДПС-Контроль

    ul.control__list 
      li.control__item.control__item--bcg-violet.control__item--insta
        svg(width="23" height="23")
          use(xlink:href="#icon-insta")      
        p.cmn__text.cmn__text--white.control__desc <b>dps.control</b> — новости и события, дороги и водители, социальные темы и польза
        a(href="https://instagram.com/dps.control" rel="noopener noreferrer").control__link Подписаться
          svg(width="9" height="11")
            use(xlink:href="#icon-arr_long")

      li.control__item.control__item--bcg-yellow.control__item--insta.control__item--insta-black
        svg(width="23" height="23")
          use(xlink:href="#icon-insta")      
        p.cmn__text.control__desc <b>dpscontroltoday</b> — ежедневные ситуации на дороге: фото аварий, сводки, разборы 
        a(href="https://instagram.com/dpscontroltoday" rel="noopener noreferrer").control__link.control__link--col-black Подписаться
          svg(width="9" height="11")
            use(xlink:href="#icon-arr_long")

      li.control__item.control__item--tg
        svg(width="22" height="26")
          use(xlink:href="#icon-tg")      
        p.cmn__text.control__desc <b>Группа ДПС-Контроль Сегодня</b> — крупнейший чат с информацией о постах ДПС, оперативная информация с дороги 
        a(href="https://t.me/dpscontroltoday" rel="noopener noreferrer").control__link.control__link--col-blue Подписаться
          svg(width="9" height="11")
            use(xlink:href="#icon-arr_long")

      li.control__item.control__staple
        svg(width="20" height="20")
          use(xlink:href="#icon-staple")
        p.cmn__text.control__desc <a href="https://www.dpscontrol.ru" rel="noopener noreferrer"> <b>www.dpscontrol.ru</b> </a> — подборка услуг и сервисов для автолюбителей и жителей города 
      
