section.service.cmn
  .cmn__wrapper.service__wrapper
    .service__header
      h2.cmn__title.cmn__title--white.service__title Смотреть все услуги
      p.cmn__text.cmn__text--white.service__desc Каталог компаний, которые оказывают сервисы для автолюбителей. 
      a(href="#" aria-label="смотреть все услуги").service__more
        svg(width="16" height="24")
          use(xlink:href="#icon-arr-big")
    
    a(href="https://t.me/kladkosergey" rel="noopener noreferrer").service__btn Хочу добавить свою компанию
