.addCompanyModal.modal.cmn
  .modal__wrapper.addCompanyModal__wrapper
    button.foodModal__close.js-addCompany-modal-close-btn
      svg(width="10" height="11")
        use(xlink:href="#icon-arr_long")
      span Назад

    .addCompanyModal__content
      b.cmn__text.cmn__text--bold.addCompanyModal__text Добавьте свою компанию сюда.
      p.cmn__text Напишите в Telegram, чтобы добавить компанию в подборку сервисов и услуг ДПС-Контроль
      a.addCompanyModal__link(href="https://t.me/kladkosergey" rel="noopener noreferrer")
        svg(width="24" height="28")
          use(xlink:href="#icon-tg")
        span Написать
    include ../components/modalFooter.pug