.menuModal.modal
  .modal__wrapper.menuModal__wrapper
    .menuModal__header
      b Выберите категорию:
      button.menuModal__close.js-menuModal-close-btn
        svg(width="24" height="24")
          use(xlink:href="#icon-close")
      
    ul.menuModal__list
        -
          const items = [

            // А
            {text: 'Автоподбор', avatar: 'А', color: '#F5F8FF;'},
            {text: 'Автопрокат', avatar: 'А', color: '#F5F8FF;'},
            {text: 'Автоэлектрик ', avatar: 'А', color: '#F5F8FF;'},
            {text: 'Автокредит', avatar: 'А', color: '#F5F8FF;'},
            {text: 'Автосигнализация', avatar: 'А', color: '#F5F8FF;'},
            {text: 'Автомойка', avatar: 'А', color: '#F5F8FF;'},
            {text: 'Аварийный комиссар', avatar: 'А', color: '#F5F8FF;'},
            {text: 'Автозвук', avatar: 'А', color: '#F5F8FF;'},
            {text: 'Автошколы', avatar: 'А', color: '#F5F8FF;'},

            //В
            {text: 'Выкуп', avatar: 'В', color: '#E9FDF8;'},
            //Г
            {text: 'Госзнаки', avatar: 'Г', color: '#F6F5FF;'},
            //Д
            {text: 'Детейлинг', avatar: 'Д', color: '#F5F5F5;'},
            {text: 'Диагностика', avatar: 'Д', color: '#F5F5F5;'},
            {text: 'Диски ремонт продажа', avatar: 'Д', color: '#F5F5F5;'},
            //З
            {text: 'Замена масла', avatar: 'З', color: '#EAFAFF;'},
            {text: 'Замена лобовых', avatar: 'З', color: '#EAFAFF;'},
            {text: 'Заправка кондиционера', avatar: 'З', color: '#EAFAFF;'},
            {text: 'Замена колодок', avatar: 'З', color: '#EAFAFF;'},
            //К
            {text: 'Ключи прописка', avatar: 'К', color: '#FFF1F5;'},
            //М
            {text: 'Меню всех питстопов, инфа об очереди на питстопе', avatar: 'М', color: '#FFF3ED;'},
            //О
            {text: 'Открытие авто', avatar: 'О', color: '#F5F8FF;'},
            {text: 'Облейка плёнкой', avatar: 'О', color: '#F5F8FF;'},
            //П
            {text: 'Перетяжка руля салона', avatar: 'П', color: '#E9FDF8;'},
            {text: 'Помощь на дороге', avatar: 'П', color: '#E9FDF8;'},
            {text: 'Покраска авто', avatar: 'П', color: '#E9FDF8;'},
            //Р
            {text: 'Ремонт глушителей', avatar: 'Р', color: '#F6F5FF;'},
            {text: 'Развал схождение', avatar: 'Р', color: '#F6F5FF;'},
            {text: 'Ремонт стоек', avatar: 'Р', color: '#F6F5FF;'},
            {text: 'Ремонт кузова', avatar: 'Р', color: '#F6F5FF;'},
            {text: 'Ремонт двс', avatar: 'Р', color: '#F6F5FF;'},
            {text: 'Резина, колёса', avatar: 'Р', color: '#F6F5FF;'},
            {text: 'Ремонт ходовки', avatar: 'Р', color: '#F6F5FF;'},
            //С
            {text: 'Страхование', avatar: 'С', color: '#F5F5F5;'},
            {text: 'Сварщик', avatar: 'С', color: '#F5F5F5;'},
            //Т
            {text: 'Тонировка', avatar: 'Т', color: '#EAFAFF;'},
            {text: 'Тюнинг фар', avatar: 'Т', color: '#EAFAFF;'},
            {text: 'Триплекс автостекла', avatar: 'Т', color: '#EAFAFF;'},
            //Х
            {text: 'Химчистка', avatar: 'Х', color: '#FFF1F5'},
            //Ч
            {text: 'Чиптюнинг двигателя', avatar: 'Ч', color: '#FFF3ED;'},
            {text: 'Чек сканер', avatar: 'Ч', color: '#FFF3ED;'},
            //Ш
            {text: 'Шумоизоляция', avatar: 'Ш', color: '#F5F8FF;'},
            {text: 'Шиномонтаж', avatar: 'Ш', color: '#F5F8FF;'},
            {text: 'Шильдики', avatar: 'Ш', color: '#F5F8FF;'},
            //Э
            {text: 'Эвакуаторы', avatar: 'Э', color: '#E9FDF8;'},
          ];

        each item in items
          li.menuModal__item
            a(href="#").menuModal__link
              .menuModal__item-icon(style="background-color:" + item.color)
                span= item.avatar
              p.menuModal__item-desc= item.text
              svg(width="10" height="16").menuModal__item-arr
                use(xlink:href="#icon-menu-arr")
    include ../components/modalFooter.pug
    