.footer.cmn
  .cmn__wrapper.footer__wrapper
    .footer__header
      a(href="#" aria-label="Обновить страницу").cmn__logo
        img(src='./assets/img/logo@1x.png' srcset='./assets/img/logo@2x.png 2x' alt='логотип' width="76" height="33")
      include ../../components/serviceBtn.pug
    .footer__bottom
      img(src='./assets/img/copyrights@1x.png' srcset='./assets/img/copyrights@2x.png 2x' alt='все права защищены' width="44" height="15")
      