.company {
    background: #1F2126;
    border-radius: 10px;
    margin-bottom: 2rem;

    &__wrapper {
        padding-top: 2.7rem;
        padding-bottom: 3.3rem;
    }

    &__title {
        margin-bottom: 1.1rem;
    }

    &__desc {
        margin-bottom: 3.4rem;
        max-width: 28rem;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1.6rem;
        line-height: 1.9rem;

        padding: 1.1rem 0.5rem;
        background-color: transparent;
        cursor: pointer;
        border: 1px solid $color-white;
        border-radius: 8px;

        color: $color-white;

        svg {
            margin-right: 1.3rem;
        }
    }
}