.control {
    &__title {
        margin-bottom: 1.8rem;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1.4rem;
        padding-left: 4.9rem;
        padding-top: 1.8rem;
        margin-bottom: 1.2rem;

        border: 1px solid #EDF1F8;
        border-radius: 8px;
        background-color: #F7F9FE;;

        svg {
            position: absolute;
            top: 2.3rem;
            left: 1.4rem;
        }

        &--bcg-violet {
            border: 1px solid #152086;
            background-color: $color-violet;
        }

        &--bcg-yellow {
            border: 1px solid #E2F56D;
            background-color: $color-yellow;

            svg {
                fill: $color-black;
            }
        }

        &--tg {
            svg {
                fill: #51ABEF;;
            }
        }
    }

    &__link {
        position: relative;
        font-size: 1.7rem;
        line-height: 2rem;
        margin-left: auto;
        padding-right: 2rem;

        color: $color-white;

        &--col-black {
            color: $color-black;
        }

        &--col-blue {
            color: $color-blue;
        }

        svg {
            position: absolute;
            top: 53%;
            transform: translateY(-50%);
            left: calc(100% - 1.4rem);
        }
    }

    &__desc {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 1.5rem;

        a {
            font-size: 18px;
            line-height: 21px;
            color: $color-black;
            text-decoration: underline;
        }
    }
}