.food {
    background: #F7F9FE;
    &__wrapper {
        display: flex;
        flex-direction: column;
        
        border-top: 1px solid $color-lightgrey;
        border-bottom: 1px solid $color-brd-lightgrey;
        padding-top: 2.2rem;
        padding-bottom: 1.4rem;
    }
    &__title {
        max-width: 19rem;
        margin-bottom: 2.7rem;
    }

    &__list {
        display: flex;
        margin-bottom: 1.7rem;
    }

    &__card {
        width: 25%;
        margin-right: 2rem;

        img {
            display: block;
            width: 100%;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        line-height: 2rem;
        background-color: transparent;
        border: none;
        
        height: 4rem;
        color: $color-blue;
        margin-left: auto;
        padding-right: 1.5rem;

        span {
            margin-right: 1rem;
        }

        svg {
            margin-top: 0.3rem;
            fill: $color-blue;
        }
    }
}