.footer {
    background-color: #ECEDF0;
    margin-top: auto;

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 1.9rem;
        min-height: 19.3rem;
    }

    &__header {
        display: flex;
        align-items: center;
    }

    a {
        display: block;
    }

    &__bottom {
        margin-top: auto;
        img {
            width: 4.4rem;
            height: 1.5rem;
        }
    }
}