.modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;

    &__wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        max-width: $lg-mobile-width;
        background-color: $color-white;
        z-index: 10;
        padding: 2.7rem 1.5rem;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        transition: all 3s 0.2s ease;
        animation: showModal 0.5s forwards;
    }

    @keyframes showModal {
        0% {
          transform: translate(-50%, 100%);
        }
      
        100% {
          transform: translate(-50%, 0);
        }
    }
}

.menu {

    &__wrapper {
        padding-bottom: 0;
    }

    &__header {
        display: flex;
        margin-bottom: 2.7rem;

        b {
            font-family: $font_bold;
            font-weight: 600;
            display: block; 
            font-size: 1.8rem;
            line-height: 2.1rem;
            padding-left: 1rem;

            color: $color-black;
        }
    }

    &__close {
        border: none;
        background-color: transparent;
        margin-left: auto;
    }

    &__item {
        border-top: 1px solid #EDF1F8;

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.1rem;
            height: 3.1rem;
            background: #F5F8FF;
            border-radius: 5px;
            margin-right: 2.3rem;
        }

        &-arr {
            margin-left: auto;
        }

        &-desc {
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: $color-black;
        }

        transition: background-color $transition-rules;

        &:hover,
        &:focus {
            background-color: #F7F9FE;
        }

        &:last-child {
            margin-bottom: 4.3rem;
            border-bottom: 1px solid #EDF1F8;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 1.5rem 1rem;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.7rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.1rem;
        background-color: transparent;
        border: 1px solid #EDF1F8;
        border-radius: 8px;
        color: $color-black;
        margin-left: auto;

        svg {
            margin-left: 1rem;
        }
    }

    &.opened {
        display: flex;
    }
}

.foodModal {
    &.opened {
        display: flex;
    }

    &-swiper-container {
        overflow-x: hidden;
        display: none;

        &.opened {
            display: block;
        }

        margin-bottom: 2rem;
        .swiper-slide {
            width: 24.5rem !important;
        }

        animation: showSlider 0.5s forwards;
    }

    @keyframes showSlider {
        0% {
          opacity: 0;
        }
      
        100% {
            opacity: 1;
        }
    }

    &__close {
        padding: 0.5rem 1.2rem;
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 600;
        width: 10rem;
        background-color: transparent;
        border: 0.7px solid #EDF1F8;
        border-radius: 5px;
        color: $color-black;
        margin-bottom: 3.1rem;

        svg {
            fill: $color-black;
            margin-right: 1rem;
            transform: rotate(180deg)
        }
    }



    &__item {
        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
        }

        &-avatar {
            margin-right: 1.8rem;

            img {
                width: 6.3rem;
                height: 6.3rem;
            }
        }

        &-content {
            width: 100%;
            flex-grow: 1;

            h2 {
                margin-bottom: 1.3rem;
            }

            &-btn {
                width: 100%;
                max-width: 25.3rem;
                font-size: 1.7rem;
                line-height: 2rem;
                padding: 1rem;
                background-color: transparent;
                border: 1px solid #D8E0E7;
                border-radius: 8px;
                color: $color-black;
                margin-bottom: 2.5rem;

                svg {
                    margin-left: 1rem;
                    transform: rotate(90deg);
                    transition: transform $transition-rules;
                }

                &.closed {
                    svg {
                        transform: rotate(-90deg)
                    }
                }
            }
        }
    }

}

.washModal {
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        overflow-x: hidden;
        padding-top: 1.2rem;
    }

    &.opened {
        display: flex;
    }

    &__content {
        margin: auto 0;
        padding-top: 0.5rem;

        b {
            font-family: $font_bold;
            font-weight: 600;
            display: block;
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.4rem;
            margin-bottom: 1.2rem;

            color: $color-black;
        }

        p {
            font-size: 1.7rem;
            line-height: 2rem;
            margin-bottom: 3.6rem;

            color: #363C4A;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        padding-bottom: 1.2rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
        border: 1px solid $color-blue;
        border-radius: 8px;
        color: $color-blue;

        svg {
            margin-right: 1.3rem;
            fill: $color-blue;
        }
    }
}